.separador {
	border-right: 1px lightgray;
	border-style: solid;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

.espacamento-interno-menu {
	padding: 10px;
	width: 100%;
}

a {
	font-weight: bold;
	color: darkgray;
}


.div-consulta {
	background-color: white;
	padding: 20px;
	margin: auto;
	color: gray;
	margin-top: 330px;
	margin-left: 110px;
	position: absolute;

	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}


.consulta-container {
	margin: auto;
}

.rodape {
	margin: auto;
	position: absolute;
}